[submodule "BagelEngine/vendor/spdlog"]
	path = BagelEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "BagelEngine/vendor/GLFW"]
	path = BagelEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "BagelEngine/vendor/imgui"]
	path = BagelEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
